body {
    text-align: center;
    font-family: Arial;
}

.room {
    border: 1px solid black;
    width: 150px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

.highlight {
    background-color: yellow;
}
